<div class="row d-flex">
  <div class="col-md-6">
    <div class="box-option" *ngFor="let contexto of agrupamento; let i = index">
      <mat-card class="mat-contextos">
        <a data-toggle="collapse" href="#contexto-{{ i }}">{{contexto.titulo}} </a>
        <i class="fas fa-angle-double-right" (click)="addItem(contexto)"></i>
      </mat-card>

      <div class="collapse" id="contexto-{{ i }}">
        <div class="box-option" *ngFor="let card of contexto.cards; let j = index">
          <mat-card class="mat-cards">
            <a data-toggle="collapse" href="#card-{{ j }}">{{card.nome}} </a>
            <i class="fas fa-angle-double-right" (click)="addItem(contexto, card)"></i>

          </mat-card>

          <div class="collapse" id="card-{{ j }}">
            <div class="box-option" *ngFor="let politica of card.politicas">
              <mat-card class="mat-politicas">
                <a data-toggle="collapse">{{politica.nome}} </a>
                <i class="fas fa-angle-double-right" (click)="addItem(contexto, card, politica)"></i>
              </mat-card>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box-option" *ngFor="let contexto of agrupamentoAdd; let i = index">
      <mat-card class="mat-contextos">
        <a data-toggle="collapse" href="#addA-{{ i }}">{{contexto.titulo}} </a>
        <i class="fas fa-angle-double-right"></i>
      </mat-card>

      <div class="collapse" id="addA-{{ i }}">
        <div class="box-option" *ngFor="let card of contexto.cards; let j = index">
          <mat-card class="mat-cards">
            <a data-toggle="collapse" href="#addB-{{ j }}">{{card.nome}} </a>
            <i class="fas fa-angle-double-right"></i>
          </mat-card>

          <div class="collapse" id="addB-{{ j }}">
            <div class="box-option" *ngFor="let politica of card.politicas">
              <mat-card class="mat-politicas">
                <a data-toggle="collapse">{{politica.nome}} </a>
                <i class="fas fa-angle-double-right"></i>
              </mat-card>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>