<!-- <router-outlet></router-outlet>

<button class="btn btn-primary" (click)="testePost()">Send </button> -->

<div class="row">
    <div class="container container-inputs">
        <div class="col-md-12">
            <h2 style="text-align: center;">Icones</h2>
        </div>

        <div class="col-md-12 container-col-12">
            <div class="col-md-8 container-col-8">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1" type="text" placeholder="Search" [(ngModel)]="searchTerm" />
                    <div class="input-group-append">
                        <span class="input-group-text red lighten-3" id="basic-text1">
                            <i class="fas fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div> Clique <span style="color: blue; cursor: pointer;" (click)="openModalCard(template)">aqui</span>
                    para adicionar novos icones </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container container-box">
        <div class="container-card-box">
            <div *ngFor="let i of icones | filter: searchTerm" class="card text-white bg-primary mb-3 card-box"
                placement="bottom" [tooltip]="i.tagClass">
                <div class="card-body">
                    <div class="i-closed">
                        <i class="fas fa-times" (click)="openModalDelete(deletarIcone, i)"></i>
                    </div>
                    <i [class]="i.tagClass" style="font-size: 40px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Icone class name</label>
                <div class="d-flex">
                    <input type="text" class="form-control" formControlName="iconeModal" />
                    <button type="button" class="btn btn-warning" (click)="checkIcon()"> Check </button>
                </div>
            </div>
            <div class="form-group" style="display: flex;align-items: center;">
                <div style="margin-right: 20px;">Preview</div>
                <i [class]="iconeClass" style="font-size: 50px;"></i>
            </div>
            <div class="modal-footer modal-footer-form">
                <button type="button" class="btn btn-primary" (click)="addIcon()" [disabled]="form.invalid">
                    Save changes
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deletarIcone>
    <div class="modal-header">
        <h5 class="modal-title">Deseja deletar esse Icone ?</h5>
        <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer" style="border: 0;">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()"> Não </button>
        <button type="button" class="btn btn-primary" (click)="deleteIcon()"> Sim </button>
    </div>
</ng-template>